# Importing and Cleaning of Test Numerical Data

In this notebook will be cleaning the all variables in the test dataset that we will use to predict our model for Kaggle

### Contents:
* [Data Import & Cleaning - Test Dataset](#Data-Import-&-Cleaning-Test-Dataset)  
  * [Inspect columns with large number of null values](#Inspect-columns-with-large-number-of-null-values)
* [Fixing Null Data](#Fixing-Null-Data)
  * [Pool QC, Misc Feature, Alley, Fence, Fireplace Qu](#Pool-QC,-Misc-Feature,-Alley,-Fence,-Fireplace-Qu)
  * [Lot Frontage](#Lot-Frontage)
  * [Garage (Qual, Finish, Cond, Yr Blt, Type)](#Garage-(Qual,-Finish,-Cond,-Yr-Blt,-Type))
  * [Bsmt (Exposure, Fin Type 2, Cond, Qual, Fin Type 1)](#Bsmt-(Exposure,-Fin-Type-2,-Cond,-Qual,-Fin-Type-1))
  * [Mas Vnr Type, Mas Vnr Area](#Mas-Vnr-Type,-Mas-Vnr-Area)
  * [Rest of the basment features (Bsmt Half Bath, Bsmt Full Bath, Total Bsmt SF, Bsmt Unf SF, BsmtFin SF 2, BsmtFin SF 2, BsmtFin SF 1)](#Rest-of-the-basment-features-(Bsmt-Half-Bath,-Bsmt-Full-Bath,-Total-Bsmt-SF,-Bsmt-Unf-SF,-BsmtFin-SF-2,-BsmtFin-SF-2,-BsmtFin-SF-1))
  * [Garage Cars and Garage Area](#Garage-Cars-and-Garage-Area)
  * [Review Data](#Review_Data)
* [Export Dataset](#Export-Dataset)
* [Summary](#Summary)

### Data Import & Cleaning Test Dataset

In [1]:
#import libraries
import pandas as pd
import numpy as np

In [2]:
#read test dataset
filename = "../datasets/test.csv"
test_unclean = pd.read_csv(filename, index_col="Id")

#inspect first few rows of the dataset
test_unclean.head()

,PID,MS SubClass,MS Zoning,Lot Frontage,Lot Area,Street,Alley,Lot Shape,Land Contour,Utilities,...,3Ssn Porch,Screen Porch,Pool Area,Pool QC,Fence,Misc Feature,Misc Val,Mo Sold,Yr Sold,Sale Type
Id,,,,,,,,,,,,,,,,,,,,,
2658,902301120,190,RM,69.0,9142,Pave,Grvl,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,4,2006,WD
2718,905108090,90,RL,NaN,9662,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,8,2006,WD
2414,528218130,60,RL,58.0,17104,Pave,NaN,IR1,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,9,2006,New
1989,902207150,30,RM,60.0,8520,Pave,NaN,Reg,Lvl,AllPub,...,0,0,0,NaN,NaN,NaN,0,7,2007,WD
625,535105100,20,RL,NaN,9500,Pave,NaN,IR1,Lvl,AllPub,...,0,185,0,NaN,NaN,NaN,0,7,2009,WD

In [3]:
test_unclean.shape

(879, 79)

In [4]:
#review datatypes and shape of the data
test_unclean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 879 entries, 2658 to 1939
Data columns (total 79 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              879 non-null    int64
 1   MS SubClass      879 non-null    int64
 2   MS Zoning        879 non-null    object
 3   Lot Frontage     719 non-null    float64
 4   Lot Area         879 non-null    int64
 5   Street           879 non-null    object
 6   Alley            58 non-null     object
 7   Lot Shape        879 non-null    object
 8   Land Contour     879 non-null    object
 9   Utilities        879 non-null    object
 10  Lot Config       879 non-null    object
 11  Land Slope       879 non-null    object
 12  Neighborhood     879 non-null    object
 13  Condition 1      879 non-null    object
 14  Condition 2      879 non-null    object
 15  Bldg Type        879 non-null    object
 16  House Style      879 non-null    object
 17  Overall Qual     879 non-null    int64
 18  Overall Cond     879 non-null    int64
 19  Year Built       879 non-null    int64
 20  Year Remod/Add   879 non-null    int64
 21  Roof Style       879 non-null    object
 22  Roof Matl        879 non-null    object
 23  Exterior 1st     879 non-null    object
 24  Exterior 2nd     879 non-null    object
 25  Mas Vnr Type     878 non-null    object
 26  Mas Vnr Area     878 non-null    float64
 27  Exter Qual       879 non-null    object
 28  Exter Cond       879 non-null    object
 29  Foundation       879 non-null    object
 30  Bsmt Qual        854 non-null    object
 31  Bsmt Cond        854 non-null    object
 32  Bsmt Exposure    854 non-null    object
 33  BsmtFin Type 1   854 non-null    object
 34  BsmtFin SF 1     879 non-null    int64
 35  BsmtFin Type 2   854 non-null    object
 36  BsmtFin SF 2     879 non-null    int64
 37  Bsmt Unf SF      879 non-null    int64
 38  Total Bsmt SF    879 non-null    int64
 39  Heating          879 non-null    object
 40  Heating QC       879 non-null    object
 41  Central Air      879 non-null    object
 42  Electrical       878 non-null    object
 43  1st Flr SF       879 non-null    int64
 44  2nd Flr SF       879 non-null    int64
 45  Low Qual Fin SF  879 non-null    int64
 46  Gr Liv Area      879 non-null    int64
 47  Bsmt Full Bath   879 non-null    int64
 48  Bsmt Half Bath   879 non-null    int64
 49  Full Bath        879 non-null    int64
 50  Half Bath        879 non-null    int64
 51  Bedroom AbvGr    879 non-null    int64
 52  Kitchen AbvGr    879 non-null    int64
 53  Kitchen Qual     879 non-null    object
 54  TotRms AbvGrd    879 non-null    int64
 55  Functional       879 non-null    object
 56  Fireplaces       879 non-null    int64
 57  Fireplace Qu     457 non-null    object
 58  Garage Type      835 non-null    object
 59  Garage Yr Blt    834 non-null    float64
 60  Garage Finish    834 non-null    object
 61  Garage Cars      879 non-null    int64
 62  Garage Area      879 non-null    int64
 63  Garage Qual      834 non-null    object
 64  Garage Cond      834 non-null    object
 65  Paved Drive      879 non-null    object
 66  Wood Deck SF     879 non-null    int64
 67  Open Porch SF    879 non-null    int64
 68  Enclosed Porch   879 non-null    int64
 69  3Ssn Porch       879 non-null    int64
 70  Screen Porch     879 non-null    int64
 71  Pool Area        879 non-null    int64
 72  Pool QC          4 non-null      object
 73  Fence            172 non-null    object
 74  Misc Feature     41 non-null     object
 75  Misc Val         879 non-null    int64
 76  Mo Sold          879 non-null    int64
 77  Yr Sold          879 non-null    int64
 78  Sale Type        879 non-null    object
dtypes: float64(3), int64(34), object(42)
memory usage: 549.4+ KB

* On first impression of the data, there are 80 columns and 879 rows of entries.
* Price is what we want to predict hence it will be our target. 
* Some features like "Alley", "Pool QC", "Misc Features", "Fence" have close to no information at all. We will need to investigate this to see how we can fill the null values to not lose to much data.

##### Inspect columns with large number of null values

In [5]:
#columns with total number of null values
null_values = test_unclean.isnull().sum().sort_values(ascending = False)

#look at only those columns with null values 
null_values[null_values>0]

Pool QC           875
Misc Feature      838
Alley             821
Fence             707
Fireplace Qu      422
Lot Frontage      160
Garage Cond        45
Garage Qual        45
Garage Yr Blt      45
Garage Finish      45
Garage Type        44
BsmtFin Type 1     25
Bsmt Exposure      25
Bsmt Qual          25
Bsmt Cond          25
BsmtFin Type 2     25
Mas Vnr Area        1
Electrical          1
Mas Vnr Type        1
dtype: int64

## Fixing Null Data


Our main approach to clean the test data set is as how it was in the train dataset: via logical induction by refering to [data description](http://jse.amstat.org/v19n3/decock/DataDocumentation.txt)  

We want to keep as much data as possible to minimise dropping any rows or columns unnecessarily. 






| Column         | Data Type | Number of Null Values | Column Description                                    | NA values in column                            | Action                                    |
|:----------------|:-----------|:-----------------------|:-------------------------------------------------------|:------------------------------------------------|:-------------------------------------------|
| Pool QC        | object    | 875                   | Pool quality                                          | NA is defined as no pool                       | Convert null to 'NONE'                      |
| Misc Feature   | object    | 838                   | Miscellaneous feature not covered in other categories | NA is defined as no misc features              | Convert null to 'NONE'                      |
| Alley          | object    | 821                   | Type of alley access to property                      | NA is defined as no alley access               | Convert null to 'NONE'                      |
| Fence          | object    | 707                   | Fence Quality                                         | NA is defined as no fence                      | Convert null to 'NONE'                      |
| Fireplace Qu   | object    | 422                   | Fireplace quality                                     | NA is defined as no fireplace                  | Convert null to 'NONE'                      |
| Lot Frontage   | Float     | 160                   | Linear feet of street connected to property           | No other values in column are 0                | Convert null to mean                      |
| Garage Cond    | object    | 45                    | Garage condition                                      | NA is defined as no garage                     | Convert null to 'NONE'                      |
| Garage Qual    | object    | 45                    | Garage quality                                        | NA is defined as no garage                     | Convert null to 'NONE'                      |
| Garage Yr Blt  | Float     | 45                    | Year garage was built                                 | Object type is float. Convert to 0 for no year | Convert null to '0'                       |
| Garage Finish  | object    | 45                    | Interior finish of the garage                         | NA is defined as no garage                     | Convert null to 'NONE'                      |
| Garage Type    | object    | 44                    | Garage location                                       | NA is defined as no garage                     | Convert null to 'NONE'                      |
| Bsmt Exposure  | object    | 25                    | Refers to walkout or garden level walls               | NA is defined as no basement                   | Convert null to 'NONE'                      |
| BsmtFin Type 1 | object    | 25                    | Rating of basement finished area                      | NA is defined as no basement                   | Convert null to 'NONE'                      |
| Bsmt Qual      | object    | 25                    | Evaluates the height of the basement                  | NA is defined as no basement                   | Convert null to 'NONE'                      |
| BsmtFin Type 2 | object    | 25                    | Rating of basement finished area (if multiple types)  | NA is defined as no basement                   | Convert null to 'NONE'                      |
| Bsmt Cond      | object    | 25                    | Evaluates the general condition of the basement       | NA is defined as no basement                   | Convert null to 'NONE'                      |
| Mas Vnr Area   | Float     | 1                     | Masonry veneer area in square feet                    | '0' has already been entered for no distance   | Convert to mean of the mode of the column |
| Mas Vnr Type   | object    | 1                     | Masonry veneer type                                   | None is defined as no mansory                  | Convert null to the mode of the column    |
| Electrical     | object    | 1                     | Electrical System                                     | No 'NA' values                                 | Fill null with mode of the column         |

###### Pool QC, Misc Feature, Alley, Fence, Fireplace Qu

In [6]:
#'NA' refers to no pool, misc feature, alley, fence and fireplace respectively for these columns
#hence we fill all nulls of these columns to 'NONE' category

test_unclean["Pool QC"].fillna('NONE', inplace=True)
test_unclean["Misc Feature"].fillna('NONE', inplace=True)
test_unclean["Alley"].fillna('NONE', inplace=True)
test_unclean["Fence"].fillna('NONE', inplace=True)
test_unclean["Fireplace Qu"].fillna('NONE', inplace=True)

##### Lot Frontage

In [7]:
#look at the minimum for Lot Frontage
test_unclean["Lot Frontage"].describe()

count    719.000000
mean      69.630042
std       23.625372
min       21.000000
25%       59.000000
50%       68.000000
75%       80.000000
max      182.000000
Name: Lot Frontage, dtype: float64

In [8]:
#as the minimum for lot frontage is 21, we can assume that there wont be any house with 0 lot frontage
#hence we can fill the null values with the mean of the column
test_unclean["Lot Frontage"].fillna(test_unclean["Lot Frontage"].mean(), inplace=True)

##### Garage (Cond, Qual, Yr Blt, Finish, Type)

In [9]:
#checking the 'garage' columns, 'NA' refers to no garage for the object types columns: Qual, Finnish, Cond, Type
#hence we fill all nulls of these columns to 'NONE' category
test_unclean["Garage Qual"].fillna('NONE', inplace=True)
test_unclean["Garage Finish"].fillna('NONE', inplace=True)
test_unclean["Garage Cond"].fillna('NONE', inplace=True)
test_unclean["Garage Type"].fillna('NONE', inplace=True)

In [10]:
#looking at the summary statistic for Garage Yr Blt
test_unclean["Garage Yr Blt"].describe()

count     834.000000
mean     1976.796163
std        25.695683
min      1900.000000
25%      1960.000000
50%      1978.000000
75%      2001.000000
max      2010.000000
Name: Garage Yr Blt, dtype: float64

In [11]:
#the year in which the garage was built is indicated
#hence we will indicate '0' for null values which indicates no garage was built for a float column
test_unclean["Garage Yr Blt"].fillna('0', inplace=True)

##### Bsmt (Exposure, Fin Type 1, Qual, Fin Type 2, Cond)

In [12]:
#checking the 'bsmt' columns, 'NA' refers to no basement for the object types columns: Exposure, Fin Type2, Cond, Qual, Fin Type1
#hence we fill all nulls of these columns to 'NA' category
test_unclean["Bsmt Exposure"].fillna('NONE', inplace=True)
test_unclean["BsmtFin Type 1"].fillna('NONE', inplace=True)
test_unclean["Bsmt Qual"].fillna('NONE', inplace=True)
test_unclean["BsmtFin Type 2"].fillna('NONE', inplace=True)
test_unclean["Bsmt Cond"].fillna('NONE', inplace=True)

##### Mas Vnr Type, Mas Vnr Area

In [13]:
#look at the Mas Vnr Type columns
display(test_unclean["Mas Vnr Type"].describe())
display(test_unclean["Mas Vnr Type"].value_counts())

count      878
unique       5
top       None
freq       534
Name: Mas Vnr Type, dtype: object

None       534
BrkFace    250
Stone       81
BrkCmn      12
CBlock       1
Name: Mas Vnr Type, dtype: int64

In [14]:
#highest frequency of the column is "None", which refers to no masonry veneer 
#looking at rows that are null for type and area
test_unclean[test_unclean["Mas Vnr Type"].isnull()][["Mas Vnr Type", "Mas Vnr Area"]]

    Mas Vnr Type  Mas Vnr Area
Id
868          NaN           NaN

In [15]:
#we can see that Mas Vnr Type is linked to Mas Vnr Area
#we will fill these null values with the mode "None", and hence "0" for Mas Vnr Type and Mas Vnr Area columns respectively
test_unclean["Mas Vnr Type"].fillna('NONE', inplace=True)
test_unclean["Mas Vnr Area"].fillna('0', inplace=True)

##### Electrical

In [16]:
#look at the Electrical columns
display(test_unclean["Electrical"].describe())
display(test_unclean["Electrical"].value_counts())

count       878
unique        4
top       SBrkr
freq        814
Name: Electrical, dtype: object

SBrkr    814
FuseA     48
FuseF     15
FuseP      1
Name: Electrical, dtype: int64

In [17]:
#highest frequency of the column is "SBrkr"
#we will fill the only single null value in elecrical column with the mode
test_unclean["Electrical"].fillna('SBrkr', inplace=True)

###### Review Data

In [18]:
test_unclean.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 879 entries, 2658 to 1939
Data columns (total 79 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   PID              879 non-null    int64
 1   MS SubClass      879 non-null    int64
 2   MS Zoning        879 non-null    object
 3   Lot Frontage     879 non-null    float64
 4   Lot Area         879 non-null    int64
 5   Street           879 non-null    object
 6   Alley            879 non-null    object
 7   Lot Shape        879 non-null    object
 8   Land Contour     879 non-null    object
 9   Utilities        879 non-null    object
 10  Lot Config       879 non-null    object
 11  Land Slope       879 non-null    object
 12  Neighborhood     879 non-null    object
 13  Condition 1      879 non-null    object
 14  Condition 2      879 non-null    object
 15  Bldg Type        879 non-null    object
 16  House Style      879 non-null    object
 17  Overall Qual     879 non-null    int64
 18  Overall Cond     879 non-null    int64
 19  Year Built       879 non-null    int64
 20  Year Remod/Add   879 non-null    int64
 21  Roof Style       879 non-null    object
 22  Roof Matl        879 non-null    object
 23  Exterior 1st     879 non-null    object
 24  Exterior 2nd     879 non-null    object
 25  Mas Vnr Type     879 non-null    object
 26  Mas Vnr Area     879 non-null    object
 27  Exter Qual       879 non-null    object
 28  Exter Cond       879 non-null    object
 29  Foundation       879 non-null    object
 30  Bsmt Qual        879 non-null    object
 31  Bsmt Cond        879 non-null    object
 32  Bsmt Exposure    879 non-null    object
 33  BsmtFin Type 1   879 non-null    object
 34  BsmtFin SF 1     879 non-null    int64
 35  BsmtFin Type 2   879 non-null    object
 36  BsmtFin SF 2     879 non-null    int64
 37  Bsmt Unf SF      879 non-null    int64
 38  Total Bsmt SF    879 non-null    int64
 39  Heating          879 non-null    object
 40  Heating QC       879 non-null    object
 41  Central Air      879 non-null    object
 42  Electrical       879 non-null    object
 43  1st Flr SF       879 non-null    int64
 44  2nd Flr SF       879 non-null    int64
 45  Low Qual Fin SF  879 non-null    int64
 46  Gr Liv Area      879 non-null    int64
 47  Bsmt Full Bath   879 non-null    int64
 48  Bsmt Half Bath   879 non-null    int64
 49  Full Bath        879 non-null    int64
 50  Half Bath        879 non-null    int64
 51  Bedroom AbvGr    879 non-null    int64
 52  Kitchen AbvGr    879 non-null    int64
 53  Kitchen Qual     879 non-null    object
 54  TotRms AbvGrd    879 non-null    int64
 55  Functional       879 non-null    object
 56  Fireplaces       879 non-null    int64
 57  Fireplace Qu     879 non-null    object
 58  Garage Type      879 non-null    object
 59  Garage Yr Blt    879 non-null    object
 60  Garage Finish    879 non-null    object
 61  Garage Cars      879 non-null    int64
 62  Garage Area      879 non-null    int64
 63  Garage Qual      879 non-null    object
 64  Garage Cond      879 non-null    object
 65  Paved Drive      879 non-null    object
 66  Wood Deck SF     879 non-null    int64
 67  Open Porch SF    879 non-null    int64
 68  Enclosed Porch   879 non-null    int64
 69  3Ssn Porch       879 non-null    int64
 70  Screen Porch     879 non-null    int64
 71  Pool Area        879 non-null    int64
 72  Pool QC          879 non-null    object
 73  Fence            879 non-null    object
 74  Misc Feature     879 non-null    object
 75  Misc Val         879 non-null    int64
 76  Mo Sold          879 non-null    int64
 77  Yr Sold          879 non-null    int64
 78  Sale Type        879 non-null    object
dtypes: float64(1), int64(34), object(44)
memory usage: 549.4+ KB

## Export Dataset

In [19]:
# exporting cleaned data with no nulls
filepath = "../datasets/test_clean.csv"
test_unclean.to_csv(filepath)

## Summary

We have cleaned all null values based on analysis of each column without losing any data.
In the next section we will perform the Exploratory Data Analysis to find features with strong correlation with our target price.